body {
    text-align: center;
    font-family: Verdana;
    background-color: 	#fef9f4
}

p {
    color: #333333;
    text-align: justify;
    text-indent: 1em
}

h2 {
    color: #3e2f1c
}

ul {
    padding: 0;
    text-align: left;
    text-indent: 20px
}

h1 {
    color: #3e2f1c;
    text-align: center
}

b {
    color: #333333
}

li {
    color: 	#333333
}

button {
    background-color:#588157;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 10px;
    border: none;
    margin: 10px
}

a {
    text-decoration: none;
    color: white
}